button{
    color:white;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    background-color:#f38a7e;
    border:0.2rem solid #f38a7e;
    border-radius: 5px;
}
button:hover{
    background-color: #e95e4e;
    border:0.2rem solid #e95e4e;
}

.submitButton{
    width:7rem;
    font-weight: bold;
}

