// general button styling 
button{
    color:white;
    font-family: $secondaryFont;
    font-size: 1rem;
    @include buttonStyling($secondaryRed);
}
button:hover,button:focus{
    @include buttonStyling($mainRed);
}
// styling 'find yum' search button
.submitButton{
    width:7rem;
    font-weight: bold;
}
// styling for save & delete button
.favButton, .delButton{
    height:2rem;
    width:40%;
}

@media (max-width:500px){
    button{
        font-size:0.9rem;
    }
    .submitButton{
        width:6rem;
    }
}

