footer { 
    font-size: 1rem;
    padding: 0.1rem 0;
    line-height: 1.5;
    text-shadow: 1px 1px 1.5px $lightPink;
    background-color: $secondaryRed;

    a {
        color: #2f4f4f;

        &:hover {
            color:$lightPink;
            text-shadow: none;
            border-bottom: 1px solid #037c8b;
        } 
    }
} 

@media (max-width:500px){
    footer{
        font-size:0.8rem;
        line-height:0.8;
    }
}