// google font
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body{
    font-size: 62.5%;
    // font-family:'Varela Round', sans-serif;
    font-family: 'Croissant One', cursive;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.wrapper{
    margin:0 auto;
    max-width:1280px;
    width:85%;
}
