
body{
    font-size: 62.5%;
    font-family: 'Croissant One', cursive;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.wrapper{
    margin:0 auto;
    max-width:1280px;
    width:85%;
}
