
body{
    font-size: 62.5%;
    font-family:$mainFont;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.wrapper{
    margin:0 auto;
    max-width:1280px;
    width:85%;
}

@media (max-width:1000px){
    .wrapper{
        width:90%;
    }
}
