main,.favRecipes{
    background-color:#f8eeee;
}
.recipeList,.favRecipeList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    // margin:0 auto;
}
.recipeContainer,.favRecipeContainer {
    font-family: 'Rubik', sans-serif;
    font-size:1rem;
    display: flex;
    flex-direction: column;
    // width:calc(30% - 2rem);
    margin:1rem;
    
    img{
        border-radius: 5%;
    }
    div{
        display: flex;
        justify-content: space-evenly;
        margin-top:1rem;
    }
    a{
        color:white;
        width: 40%;
        background-color:#f38a7e;
        border:0.2rem solid #f38a7e;
        padding-top:0.2rem;
        height:2rem;
        border-radius: 5px;
        
    }
    a:hover{
        background-color: #e95e4e;
        border:0.2rem solid #e95e4e;
    }
    .favButton, .delButton{
    // padding:0.5rem 0;
    height:2rem;
    width:40%;
    }
    
}